@import "normalize.min.css"
@import "foundation.min.css"
@import "font-awesome.css"
@import "pygments.css"


$text-color = black;
$link-color = #eb4d94;
$visited-link-color = #9e0047;
$code-color = #99eb52;
$code-background = #3a434a;
$header-color = #1cb8e8;
$quote-background = #e8eaeb;
$main-grey = #e8eaeb;
$additional-grey = #e1e5e8;



body
  font-size: 14px;
  line-height: 1.4;
  color: black;
  font-family: 'PT Sans', Tahoma, sans-serif;
  color: $text-color;

div.logo
  margin: 5px auto;
  background-image: url('/images/logo.png');
  width: 127px;
  height: 74px;


body > header.header
  height: 65px;
  margin-bottom: 30px;
  text-align: center;
  & > .content
    width: 700px;
    height: 100%;
  & nav
    position: absolute;
    right: 0;
    top: -5px;
    height: 100%;
    & ul
      height: 100%;
      & li
        height: 100%;
        display: inline-block;
        text-transform: uppercase;
        list-style-type: none;
        margin: 0 10px;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
        &.active
        &:hover
          background-color: $header-color;
          color: white;
          & a
          & a:visited
            color: white!important;
        & a
        & a:visited
          color: black!important;
          font-weight: bold;
          font-size: 18px;
          line-height: 1.2;

body > footer.row
  & p.licence
    font-style: italic;
    color: $code-background;
    margin: 35px 12px 20px;

.row > .content
  width: 600px;
  margin: 0 auto;
  position: relative;

  & a
    color: $link-color;
    &:visited
      color: $visited-link-color;

article.post-content
article.docs-content
article.project-content
  & h1
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;

  & h2
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    color: $header-color;
  header

    & h2
      color: $text-color;
      font-weight: normal;
  & ul
  & ol
    list-style-position: inside;

  & code
  & pre[class="brush: clojure"]
  & pre[class="brush: shell"]
  & div.highlight
    font-family: Courier, monospace;
    font-weight: normal;
    color: $code-color;
    background-color: $code-background;
    display: block;
    margin: 15px;
    padding: 10px 15px;

    & .s
      color: $link-color;

    & .p
    & .o
    & .se
      color: $additional-grey;
    & .mi
    & .mo
    & .mf
      color: $main-grey;

  & p
    margin-top: 0;
    margin-bottom: 7px;

  & p.discussion-link
    margin-top: 20px;
    font-style: italic;
    color: $code-background;

  & ul
  & ol
    color: $code-background;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

  & blockquote
    border-left: 5px solid $link-color;
    background-color: $quote-background;
    font-style: italic;
    font-size: 16px;
    margin: 15px 0;
    padding: 15px 30px;
    & p
      margin: 0;
      padding: 0;
      font-size: 16px;

section
header
 & h2
   font-size: 1.1em;



footer.footer
  font-style: italic;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;

  & p
    margin-bottom: 0.8em;

span.version
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 20px;

section.summary
  margin-bottom: 1em;
  & ul
    & li
      list-style: none;
      display: inline-block;
    & span
      vertical-align: middle;

span.number
  margin-left: 10px;
  margin-right: 5px;
  color: $header-color;

span.status
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 2px;
  &.up-to-date
    background-color: #99eb52;
  &.out-of-date
    background-color: #eb4d94;

table
  & th
    text-transform: uppercase;
  & td.status-column
    text-align: center;
  & tbody
    font-size: 1.1em;

form.find-form
  text-align: center;

  & label
    font-size: 1.1em;

button
  background-color: #1cb8e8;
  color: #fff;
  text-transform: uppercase;

#repo-url
  height: 38px;
  padding: 0 10px;


article.project-content

  & header
    position: relative;

    & .badges
      position: absolute;
      right: 0;
      top: 10px;
      & img
        margin-left: 10px;

// Landing page specific styles
article.index-content
  background: #1cb8e8;
  border-top: 1px solid #14a3d0;
  border-bottom: 1px solid #14a3d0;
  padding: 60px 0;
  margin: 30px 0;

  & h1
    color: #013d4f;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'PT Sans', sans-serif;

  & .find-form
    margin-bottom: 0;

    & label
      color: white;
      margin-bottom: 0;

    & input
      border-color: #2284a1;
      margin-bottom: 0;

    & button
      background-color: #54c9ee;
      float: left;
      margin-bottom: 0;
