@import "normalize.css"
@import "foundation.min.css"


header

 & h2
   font-size: 1.3em;


span.version
  font-weight: normal;
  font-size: 0.4em;
  margin-left: 20px;

section.summary
  & ul
    & li
      list-style: none;
      display: inline-block;

table
  & .th
    text-transform: uppercase;
